@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
  color: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #000;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template: minmax(77px, auto) 1fr minmax(328px, auto)/1fr;
      grid-template-areas: "header" "main" "footer";
  min-height: 100%;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  padding: 15px 0px;
  grid-area: header;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr minmax(auto, 1300px) 1fr;
      grid-template: auto/1fr minmax(auto, 1300px) 1fr;
}

.header__body {
  padding: 0px 10px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 77px 32px 188px 32px 1fr 32px minmax(auto, 268px);
      grid-template: auto/77px 188px 1fr minmax(auto, 268px);
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
  row-gap: 10px;
}

.body__burger {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  cursor: pointer;
}

.body__burger img {
  width: 100%;
  height: 100%;
}

.body__logo {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
}

.body__search {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row-align: center;
      align-self: center;
  height: 46px;
  background: var(--ui-liner-button-100, linear-gradient(97deg, #F64D4D -57.09%, #4D5EF6 101.17%));
}

.body__search:hover {
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.12);
}

.body__search:focus-within {
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.12);
}

.body__search input {
  cursor: pointer;
  margin: 2px;
  padding: 0px 150px 0px 10px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  background: url("../img/search-interface-symbol.svg") 95% 50% no-repeat, #fff;
}

.body__user {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
}

.nav {
  font-size: 12px;
  font-weight: 300;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.nav__link {
  padding-right: 15px;
  background: url("../img/down-arrow-line-symbol.svg") 100% 60% no-repeat;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav__link:hover {
  text-decoration: underline;
}

.lang {
  -ms-grid-column-align: end;
      justify-self: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  font-weight: 300;
  cursor: pointer;
}

.lang__rub,
.lang__text,
.lang__flag {
  padding: 0px 5px;
}

.lang__text,
.lang__flag {
  border-right: 0.5px solid #000;
}

.lang__rub {
  padding: 0px 15px 0px 5px;
  background: url("../img/down-arrow-line-symbol.svg") 100% 50%/10px 10px no-repeat;
}

.user {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  font-size: 14px;
  font-weight: 400;
}

.user__card,
.user__favourites,
.user__entrance {
  text-align: center;
  cursor: pointer;
}

.user__card p,
.user__favourites p,
.user__entrance p {
  margin-top: 5px;
}

.user__favourites {
  position: relative;
}

.user__favourites .favourites-num {
  display: none;
  position: absolute;
  width: 12px;
  height: 12px;
  top: 0;
  right: 15px;
  border-radius: 50%;
  background-color: red;
  font-size: 7px;
  font-weight: 500;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.user__card {
  position: relative;
}

.user__card span {
  display: none;
  position: absolute;
  width: 12px;
  height: 12px;
  top: 0;
  right: 5px;
  border-radius: 50%;
  background-color: red;
  font-size: 7px;
  font-weight: 500;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr minmax(auto, 1300px) 1fr;
      grid-template: auto/1fr minmax(auto, 1300px) 1fr;
}

.main__content {
  padding: 10px 10px 0px 10px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.main__slider {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 351px;
  -ms-grid-columns: minmax(auto, 1fr) 30px minmax(auto, 296px);
      grid-template: 351px/minmax(auto, 1fr) minmax(auto, 296px);
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main__slider.main__slider-togle {
  -ms-grid-rows: 351px;
  -ms-grid-columns: minmax(auto, 296px) minmax(auto, 1fr);
      grid-template: 351px/minmax(auto, 296px) minmax(auto, 1fr);
}

.menu-br {
  font-size: 14px;
  font-weight: 300;
  -webkit-box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.12);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
          transform-origin: left top;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.menu-br.menu-br-hidden {
  -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
          transform: scale(0, 0);
  overflow: hidden;
}

.menu-br__header {
  background: var(--UI-liner-button-100, linear-gradient(97deg, #F64D4D -57.09%, #4D5EF6 101.17%));
  color: #FFF;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 30px;
}

.menu-br__list {
  padding: 10px 30px;
  display: -ms-grid;
  display: grid;
  row-gap: 10px;
}

.menu-br__item {
  cursor: pointer;
  position: relative;
  padding-bottom: 4px;
}

.menu-br__item.active-menu {
  font-weight: 400;
}

.menu-br__item:hover::before,
.menu-br__item:hover::after {
  width: 100%;
}

.menu-br__item::before,
.menu-br__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--underline-color, #000);
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

.menu-br__item::after {
  left: auto;
  right: 0;
}

.item-comp {
  padding-left: 32px;
  background: url("../img/laptop.svg") 0 -2px/20px 100% no-repeat;
}

.item-el {
  padding-left: 32px;
  background: url("../img/power-plug.svg") 0 -2px/20px 100% no-repeat;
}

.item-tex {
  padding-left: 32px;
  background: url("../img/microwave.svg") 0 -2px/20px 100% no-repeat;
}

.item-woman {
  padding-left: 32px;
  background: url("../img/dress.svg") 0 -2px/20px 100% no-repeat;
}

.item-man {
  padding-left: 32px;
  background: url("../img/t-shirt.svg") 0 -2px/20px 100% no-repeat;
}

.item-child {
  padding-left: 32px;
  background: url("../img/baby-boy.svg") 0 -2px/20px 100% no-repeat;
}

.item-avto {
  padding-left: 32px;
  background: url("../img/steering-wheel.svg") 0 -2px/20px 100% no-repeat;
}

.item-zoj {
  padding-left: 32px;
  background: url("../img/lotus.svg") 0 -2px/20px 100% no-repeat;
}

.item-sport {
  padding-left: 32px;
  background: url("../img/ball.svg") 0 -2px/20px 100% no-repeat;
}

.swiper {
  max-width: 950px;
  margin: 0;
  min-width: 0;
}

.swiper-slide {
  max-height: 350px;
}

.swiper-button-next,
.swiper-button-prev {
  background: var(--ui-liner-button-100, linear-gradient(97deg, #F64D4D -57.09%, #4D5EF6 101.17%));
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #fff;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
  font-size: 16px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: 500;
  background: url("../img/Vector.svg") 50%/16px no-repeat;
}

.swiper-button-prev::after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 1;
  cursor: auto;
  background: var(--ui-liner-border-20, linear-gradient(97deg, rgba(246, 77, 77, 0.2) -57.09%, rgba(77, 94, 246, 0.2) 101.17%));
  pointer-events: none;
}

.swiper-button-prev.swiper-button-disabled::after,
.swiper-button-next.swiper-button-disabled::after {
  content: "";
  font-size: 16px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: 500;
  background: url("../img/left-arrow-line-symbol.svg") 50%/30px no-repeat;
}

.swiper-button-prev.swiper-button-disabled::after {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.swiper-button-next.swiper-button-disabled::after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.swiper-slide-right {
  height: 162px;
}

.menu-br.my-swiper {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.menu-br.menu-br-hidden + .my-swiper {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.main__catalog {
  padding-top: 30px;
}

.catalog__title {
  color: #000;
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 20px;
}

.catalog__body {
  display: -ms-grid;
  display: grid;
}

.catalog__cards {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(181px, 1fr));
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 25px;
  margin-bottom: 20px;
}

.catalog__btn {
  cursor: pointer;
  font-size: 14px;
  -ms-grid-column-align: end;
      justify-self: end;
  padding: 14px 55px;
  border: 1.5px solid transparent;
  /* Установка начального цвета на прозрачный */
  -o-border-image: linear-gradient(97deg, #F64D4D -57.09%, #4D5EF6 101.17%);
     border-image: linear-gradient(97deg, #F64D4D -57.09%, #4D5EF6 101.17%);
  border-image-slice: 1;
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
}

.catalog__btn:hover {
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.12);
}

.catalog__btn:active {
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
}

.card {
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.12);
}

.card__image {
  position: relative;
  padding: 0px 0px 85% 0px;
  margin-bottom: 20px;
}

.card__img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.card__price {
  font-size: 16px;
  margin-bottom: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__price img {
  width: 19px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.card__price img:hover {
  -webkit-transform: scale(1.2, 1.2);
      -ms-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.card__price img:active {
  -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
          transform: scale(1, 1);
}

.card__descriptions {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  margin-bottom: 0px;
}

.card__body {
  position: relative;
}

.card__body .card {
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.card__body .card__rate {
  margin-bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__body .card__rate img {
  width: 16px;
  height: 16px;
}

.card__body .card__rate-num {
  font-weight: 400;
}

.card__body .card__rate-text {
  font-weight: 400;
}

.card__body .card__btn {
  padding: 0px 0px;
  text-align: center;
  cursor: pointer;
  display: block;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  background: var(--ui-liner-button-100, linear-gradient(97deg, #F64D4D -57.09%, #4D5EF6 101.17%));
}

.card__body .card__btn:hover {
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.12);
}

.card__body .card__btn:active {
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
}

.card__body .card__category {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.card.visible {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-color: #fff;
  -webkit-transform: scale(1.15, 1);
      -ms-transform: scale(1.15, 1);
          transform: scale(1.15, 1);
}

.card.visible .card__btn {
  padding: 10px 0px;
  -webkit-transition: padding 0.4s ease-in;
  transition: padding 0.4s ease-in;
}

.card.visible .card__category,
.card.visible .card__rate {
  margin-bottom: 12px;
  -webkit-transition: margin-bottom 0.4s ease-in;
  transition: margin-bottom 0.4s ease-in;
}

.card.visible .card__descriptions {
  margin-bottom: 10px;
  -webkit-transition: margin-bottom 0.4s ease-in;
  transition: margin-bottom 0.4s ease-in;
}

.card .card__category,
.card .card__btn,
.card .card__rate {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.4s ease-in, visibility 0.4s ease-in;
  transition: opacity 0.4s ease-in, visibility 0.4s ease-in;
}

.card.visible .card__category,
.card.visible .card__btn,
.card.visible .card__rate {
  max-height: 100%;
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.4s ease-in, visibility 0.4s ease-in, margin-bottom 0.4s ease-in;
  transition: opacity 0.4s ease-in, visibility 0.4s ease-in, margin-bottom 0.4s ease-in;
}

.assortment {
  padding: 11px 0px 50px 0px;
}

.assortment__title {
  color: #000;
  font-size: 28px;
  font-weight: 500;
  line-height: 124.188%;
  margin-bottom: 10px;
}

.assortment__text {
  color: #000;
  font-size: 14px;
  font-weight: 300;
  line-height: 126.188%;
  margin-bottom: 7px;
}

.assortment__text {
  max-height: 50px;
  /* Выберите высоту, с которой хотите начать */
  overflow: hidden;
  -webkit-transition: max-height 0.5s ease-out;
  transition: max-height 0.5s ease-out;
}

.assortment__text.expanded {
  max-height: 500px;
  -webkit-transition: max-height 1s ease-in;
  transition: max-height 1s ease-in;
}

.read-more-btn {
  cursor: pointer;
  display: inline-block;
  background: var(--ui-liner-button-100, linear-gradient(97deg, #F64D4D -57.09%, #4D5EF6 101.17%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 14px;
  font-weight: 500;
}

.read-more-btn::after {
  content: url("../img/arrow-linel.svg");
  /* Стрелка вниз (▼) */
  cursor: pointer;
  display: inline-block;
  margin-left: 5px;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.assortment__text.expanded + .read-more-btn::after {
  content: url("../img/arrow-linel.svg");
  /* Стрелка вверх (▲) */
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.cart-footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr (3fr)[3] 1fr;
  grid-template-columns: 2fr repeat(3, 3fr) 1fr;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  padding: 19px 0;
  background: #EAEFF2;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
}

.cart-footer__count {
  -ms-grid-column: 3;
      grid-column-start: 3;
}

.cart-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr (3fr)[3] 1fr;
  grid-template-columns: 2fr repeat(3, 3fr) 1fr;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  padding: 22px 0;
  background-color: #EAEFF2;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.2;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.cart-header__title {
  -ms-grid-column: 2;
      grid-column-start: 2;
}

.count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.count__box {
  width: 40px;
  height: 30px;
  background: #EAEFF2;
  border-radius: 3px;
}

.count__input {
  max-width: 100%;
  padding-top: 4px;
  background-color: transparent;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
}

.count__input::-webkit-inner-spin-button,
.count__input::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

.count__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 9px;
}

.count__controls img {
  display: block;
}

.product {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr (3fr)[3] 1fr;
  grid-template-columns: 2fr repeat(3, 3fr) 1fr;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  padding: 20px 0;
  border-bottom: 1px solid rgba(126, 155, 189, 0.3);
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
}

.product > * {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.product__img {
  -ms-grid-column-align: center;
      justify-self: center;
  width: 80px;
  height: 80px;
}

.product__img img {
  max-width: 100%;
  max-height: 100%;
}

.product__controls {
  -ms-grid-column-align: center;
      justify-self: center;
}

.section-cart {
  padding: 70px 0 90px;
}

.section-cart__header {
  margin-bottom: 40px;
  text-align: center;
}

.title-1 {
  font-size: 28px;
  line-height: 1.3;
  font-weight: 400;
}

.favourites-cart-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 4fr 2fr 1fr;
  grid-template-columns: 1fr 2fr 4fr 2fr 1fr;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  padding: 22px 0;
  background-color: #EAEFF2;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.2;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.favourites-cart-header__title {
  -ms-grid-column: 2;
      grid-column-start: 2;
}

.favourites-product {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 4fr 2fr 1fr;
  grid-template-columns: 1fr 2fr 4fr 2fr 1fr;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  padding: 20px 0;
  border-bottom: 1px solid rgba(126, 155, 189, 0.3);
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
}

.favourites-product > * {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.favourites-product__img {
  position: relative;
  padding: 0px 0px 90% 0px;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 80px;
  height: 80px;
}

.favourites-product__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.favourites-product__count {
  font-weight: 400;
  font-size: 16px;
}

.favourites-product__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.favourites-product__controls img {
  background-color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.favourites-product__controls img:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.favourites-product__controls img:active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.favourites-section-cart {
  padding: 70px 0 90px;
}

.title-2 {
  text-align: center;
  margin-bottom: 40px;
}

.section-favourites {
  padding: 70px 0px 90px;
}

.footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  padding: 38px 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr minmax(auto, 1300px) 1fr;
      grid-template: auto/1fr minmax(auto, 1300px) 1fr;
  background: var(--ui-liner-button-100, linear-gradient(97deg, #F64D4D -57.09%, #4D5EF6 101.17%));
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 190.188%;
}

.footer__body {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  padding: 0px 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px minmax(auto, 380px);
      grid-template: auto/repeat(3, 1fr) minmax(auto, 380px);
  gap: 30px;
  margin-bottom: 55px;
}

.footer__footer {
  padding: 0px 10px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer__footer img {
  width: 151px;
}

.column__title {
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
}

.socials__title {
  cursor: pointer;
  display: inline-block;
  margin-bottom: 20px;
}

.socials__subscribe {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr 15px auto;
      grid-template: auto/1fr auto;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  margin-bottom: 20px;
}

.socials__subscribe input {
  padding: 3px 20px;
  background: transparent;
  border: 0.7px solid #FFF;
  color: #FFF;
  font-family: Roboto;
  font-size: 14px;
  font-style: italic;
  font-weight: 300;
}

.socials__subscribe-btn {
  cursor: pointer;
  background: #FFF;
  padding: 10px 22px;
}

.socials__subscribe-btn-text {
  background: var(--ui-liner-button-100, linear-gradient(97deg, #F64D4D -57.09%, #4D5EF6 101.17%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.social__title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}

.social__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

@media (max-width: 1200px) {
  .card.visible {
    -webkit-transform: scale(1.05, 1);
        -ms-transform: scale(1.05, 1);
            transform: scale(1.05, 1);
  }

  .favourites-cart-header {
    height: 1px;
    padding: 0;
  }

  .favourites-cart-header > * {
    display: none;
  }

  .favourites-product {
    -ms-grid-rows: auto;
    -ms-grid-columns: 1fr 4fr 1fr;
        grid-template: auto/1fr 4fr 1fr;
    row-gap: 20px;
  }

  .favourites-product__img {
    width: 100%;
    height: 100%;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    min-width: 80px;
    min-height: 80px;
  }

  .favourites-product__count {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }

  .favourites-product__controls {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}

@media (max-width: 1050px) {
  .footer__body {
    grid-template: auto/repeat(auto-fit, minmax(345px, auto));
  }
}

@media (max-width: 992px) {
  .header__body {
    -ms-grid-rows: 77px;
    -ms-grid-columns: 77px 22px 188px 22px 1fr 22px minmax(auto, 205px);
        grid-template: 77px/77px 188px 1fr minmax(auto, 205px);
    -webkit-column-gap: 22px;
       -moz-column-gap: 22px;
            column-gap: 22px;
  }

  .body__burger {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }

  .body__logo {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }

  .body__search {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }

  .body__user {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }

  .lang {
    display: none;
  }

  .user {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .main__slider {
    -ms-grid-rows: 300px;
    -ms-grid-columns: minmax(auto, 1fr) minmax(auto, 296px);
        grid-template: 300px/minmax(auto, 1fr) minmax(auto, 296px);
  }
}

@media (max-width: 860px) {
  .main__slider {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    -ms-grid-rows: 250px;
    -ms-grid-columns: minmax(auto, 1fr) 20px minmax(auto, 240px);
        grid-template: 250px/minmax(auto, 1fr) minmax(auto, 240px);
  }
}

@media (max-width: 768px) {
  .header__body {
    -ms-grid-rows: 64px;
    -ms-grid-columns: 64px 15px 140px 15px 1fr 15px minmax(auto, 205px);
        grid-template: 64px/64px 140px 1fr minmax(auto, 205px);
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }

  .body__burger {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }

  .body__logo img {
    max-width: 140px;
  }

  .body__logo {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }

  .user {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    font-size: 14px;
  }

  .user img {
    width: 20px;
    height: 20px;
  }

  .main__catalog {
    padding-top: 20px;
  }

  .catalog__title {
    font-size: 24px;
    margin-bottom: 15px;
  }

  .catalog__cards {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    row-gap: 20px;
  }

  .card__price img:hover {
    -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
            transform: scale(1, 1);
  }

  .card__body .card__btn:hover {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
            box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  }

  .assortment {
    padding: 11px 0px 40px 0px;
  }

  .section-favourites {
    padding: 50px 0 70px;
  }

  .footer {
    padding: 25px 0px;
  }

  .footer__body {
    gap: 20px;
  }

  .socials__title {
    margin-bottom: 15px;
  }

  .socials__subscribe {
    margin-bottom: 15px;
  }
}

@media (max-width: 680px) {
  .header {
    padding: 10px 0px;
  }

  .header__body {
    -ms-grid-rows: 51px;
    -ms-grid-columns: 51px 15px 1fr 15px minmax(auto, 205px);
        grid-template: 51px/51px 1fr minmax(auto, 205px);
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }

  .body__burger {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }

  .body__logo {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }

  .body__search {
    grid-column: 2/-1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }

  .body__user {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
  }

  .main__slider {
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
    -ms-grid-rows: 230px;
    -ms-grid-columns: minmax(auto, 1fr) 15px minmax(auto, 200px);
        grid-template: 230px/minmax(auto, 1fr) minmax(auto, 200px);
  }

  .favourites-product {
    -ms-grid-rows: auto;
    -ms-grid-columns: 1fr 2fr 2fr;
        grid-template: auto/1fr 2fr 2fr;
    row-gap: 20px;
  }

  .favourites-product__title {
    grid-column: 2/-1;
  }

  .favourites-product__count {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    grid-column: 2/-1;
  }

  .favourites-product__price {
    -ms-grid-column-align: end;
        justify-self: end;
  }

  .favourites-product__controls {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
}

@media (max-width: 640px) {
  .main__slider.main__slider-togle {
    -ms-grid-rows: 351px;
    -ms-grid-columns: minmax(auto, 1fr);
        grid-template: 351px/minmax(auto, 1fr);
  }

  .main__slider {
    -ms-grid-rows: 230px;
    -ms-grid-columns: minmax(auto, 1fr);
        grid-template: 230px/minmax(auto, 1fr);
  }

  .menu-br {
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }

  .swiper-right {
    display: none;
  }

  .footer {
    padding: 20px 0px;
  }

  .footer__body {
    gap: 15px;
  }

  .socials__title {
    margin-bottom: 10px;
  }

  .socials__subscribe {
    margin-bottom: 10px;
  }
}

@media (max-width: 600px) {
  .cart-footer {
    padding-left: 15px;
    padding-right: 15px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .cart-footer__count {
    -ms-grid-column: 1;
        grid-column-start: 1;
  }

  .cart-header {
    height: 1px;
    padding: 0;
  }

  .cart-header > * {
    display: none;
  }

  .product {
    -ms-grid-columns: (1fr)[6];
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(60px, auto);
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
    row-gap: 10px;
  }

  .product__img {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }

  .product__title {
    grid-column: 3/-1;
  }

  .product__count {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-column-align: center;
        justify-self: center;
  }

  .product__price {
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
    grid-column: 3/6;
  }
}

@media (max-width: 480px) {
  .catalog__title {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .assortment {
    padding: 11px 0px 30px 0px;
  }

  .favourites-product__controls {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 40px;
  }

  .section-favourites {
    padding: 30px 0 50px;
  }
}

@media (max-width: 440px) {
  .header__body {
    -ms-grid-rows: 51px;
    -ms-grid-columns: 51px 10px 1fr 10px minmax(auto, 165px);
        grid-template: 51px/51px 1fr minmax(auto, 165px);
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }

  .body__logo img {
    max-width: 130px;
  }

  .user {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
    font-size: 12px;
  }

  .main__slider {
    -ms-grid-rows: 180px;
    -ms-grid-columns: minmax(auto, 1fr);
        grid-template: 180px/minmax(auto, 1fr);
  }

  .main__catalog {
    padding-top: 10px;
  }

  .catalog__cards {
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
    row-gap: 15px;
  }
}

@media (max-width: 400px) {
  .cart-footer {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 10px;
  }
}

@media (max-width: 380px) {
  .socials__subscribe {
    row-gap: 10px;
    -ms-grid-rows: 1fr 10px 1fr;
    -ms-grid-columns: 1fr;
        grid-template: repeat(2, 1fr)/1fr;
  }
}